<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../layout/meta.ejs') %>
    <link rel="stylesheet" href="/css/product.css" />
  </head>

  <body>
    <%- include('../layout/navigation.ejs') %>
    <main>
      <% if (products.length > 0) { %>
      <ol>
        <!-- WITHOUT assosiations <% products.forEach(product => { %>
          <li>
            <p>Name: <%=product.title %></p>
            <p>Price per one: <%=product.price %></p>
            <p>Quantity: <%=product.quantity %></p>
            <p><strong>Total price: <%=product.total%></strong></p>
            <form action="/remove-basket-item" method="POST">
              <button class="btn" type="submit">Remove</button>
              <input type="hidden" name="productId" value="<%= product.id %>"/>
            </form>
          </li>
          <hr />
        <% }) %> -->
        <!-- WITH assosiations -->
        <% products.forEach(product => { %>
          <li>
            <p>Name: <%=product.title %></p>
            <p>Price per one: <%=product.price %></p>
            <p>Quantity: <%=product.basketItem.quantity %></p>
            <p><strong>Total price: <%=product.total%></strong></p>
            <form action="/remove-basket-item" method="POST">
              <button class="btn" type="submit">Remove</button>
              <input type="hidden" name="productId" value="<%= product.id %>"/>
            </form>
          </li>
          <hr />
        <% }) %>
        </ol>
        <div class="centered">
          <form action="/create-order" method="POST">
            <button class="btn" type="submit">Order Now!</button>
          </form>
        </div>
      <% } else { %>
      <h1>Basket is empty</h1>
      <% } %>
    </main>
    <%- include('../layout/end-scripts.ejs') %>
  </body>
</html>
